/*********TAG SELECTORS*********/
body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  background-color: #f4f4f4;

}

p {
  color: #363232;
  font-size: 0.75em;
  font-weight: 200;
}

h1 {
  display: block;
  margin: auto;
  text-align: center;
  color: #363232;
}

h2 {
  padding: 1.25rem;
font-size: 1.25rem;
}

/*******CLASS SELECTORS**********/
/******text*********/
.lighter-head {
  font-weight: 200;
  padding-top: 3.125rem;
}

.bold-head {
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.artificial {
  width: 35%;
  text-align: center;
  display: block;
  margin: auto auto 2.5rem auto;
  font-size: 0.75em;
}

.card-paragraph {
  display: inline-block;
  padding-left: 1.25rem;
  width: 15.625rem;
}

/*******Containers*********/

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 5px black;
  width: 100%;
}


/********cards********/

.team-builder {
  margin: 0 auto;
  width: 25rem;
  height: 18.75rem;
  background: white;
  box-shadow: 0.125rem 0.3125rem 0.3125rem black;
  border-top: 0.25em solid hsl(0, 78%, 62%);
  border-radius: 2%;
}

.supervisor {
  margin-top: 9.375rem;
  margin-left: 2.78125rem;
  width: 25rem;
  height: 18.75rem;
  background: white;
    box-shadow: 0.125rem 0.3125rem 0.3125rem black;
  border-top: 0.25em solid hsl(180, 62%, 55%);
  border-radius: 2%;
}


.calculator {
  margin:9.375rem 2.78125rem 0 0;
  width: 25rem;
  height: 18.75rem;
  background: white;
  box-shadow: 0.125rem 0.3125rem 0.3125rem black;
  border-top: 0.25em solid hsl(212, 86%, 64%);
  border-radius: 2%;
}


.karma {
  margin: -7.5rem auto 2.5rem auto;
  width: 25rem;
  height: 18.75rem;
  background: white;
  box-shadow: 0.125rem 0.3125rem 0.3125rem black;
  border-top: 0.25em solid hsl(34, 97%, 64%);
  border-radius: 2%;
}

/***********images*********/
.card-img {
  float: right;
  position: relative;
  top:6.25rem;
  right: 1.875rem;
}

@@media screen and (max-width: 650px) {

  .container {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 5px black;
    width: 100%;
  }

  .boxes {
    
    width: 25rem;
    height: 18.75rem;
    background: white;
    box-shadow: 0.125rem 0.3125rem 0.3125rem black;
    border-top: 0.25em solid hsl(34, 97%, 64%);
    border-radius: 2%;

  }

}
