/*********TAG SELECTORS*********/
body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  background-color: #f4f4f4;

}

p {
  color: #363232;
  font-size: 0.75em;
  font-weight: 200;
}

h1 {
  display: block;
  margin: auto;
  text-align: center;
  color: #363232;
}

h2 {
  padding: 1.25rem;
font-size: 1rem;
}

/*******CLASS SELECTORS**********/
/******text*********/
.lighter-head {
  font-weight: 200;
  padding-top: 3.125rem;
}

.bold-head {
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.artificial {
  width: 35%;
  text-align: center;
  display: block;
  margin: auto auto 2.5rem auto;
  font-size: 0.75em;
}

.card-paragraph {
  display: inline-block;
  padding-left: 1.25rem;
  width: 15.625rem;
  font-size: 0.75rem;
}

/*******Containers*********/

.container {
  position: relative;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 5px black;
  width: 100%;
  height: 32rem;

}


/********cards********/

.team-builder {
  position: absolute;
  left:50%;
  margin-left: -10rem;
  border-top: 0.25em solid hsl(0, 78%, 62%);
  border-radius: 2%;
}

.supervisor {
  position: absolute;
  top:8rem;
  left:50%;
  margin-left: -32rem;
  border-top: 0.25em solid hsl(180, 62%, 55%);
  border-radius: 2%;
}


.calculator {
  position: absolute;
  top:8rem;
  left: 50%;
  margin-left: 12rem;
  border-top: 0.25em solid hsl(212, 86%, 64%);
  border-radius: 2%;
}


.karma {
  position: absolute;
  left:50%;
  margin-left:-10rem;
  top:15.75rem;
  border-top: 0.25em solid hsl(34, 97%, 64%);
  border-radius: 2%;
}
.boxes {
  width: 20rem;
  height: 13.75rem;
  background: white;
  box-shadow: 0.125rem 0.3125rem 0.3125rem black;
}

/***********images*********/
.card-img {
  float: right;
  position: relative;
  top: 3.5rem;
  right: 1.875rem;
  width: 3rem;
  height: 3rem;
}
